@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transform-style: preserve-3d;
}

#hero-image-sm {
  outline: 10px solid rgba(255, 255, 255, 0.1);
}

#hero-image-lg {
  outline: 20px solid rgba(255, 255, 255, 0.1);
}

#online::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  translate: 50% -50%;
  height: 12px;
  width: 12px;
  background: #9742ff;
  border-radius: 100%;
  animation: pulse 1s ease-in-out infinite;
}

.bg-dots {
  background-image: radial-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 0);
  background-size: 20px 20px;
  box-shadow: inset 0 0 100px 20px black;
}

.space-glow {
  height: 300px;
  width: 300px;
  background: #ffffff;
  border-radius: 100%;
  filter: blur(64px);
  box-shadow: 0 0 20px 20px #ffffff, 0 0 50px 50px #33cfff, 0 0 125px 150px #9742ff;
}

.hover-in {
  position: relative;
}

.hover-in::after {
  content: '';
  position: absolute;
  transform: translateY(2000%);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2%;
  background-color: white;
  animation: hover-in 0.3s forwards ease-in-out;
}

.hover-out {
  position: relative;
}

.hover-out::after {
  content: '';
  position: absolute;
  transform: translateY(2000%);
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2%;
  background-color: white;
  animation: hover-out 0.3s forwards ease-in-out;
}

.slideTrack {
  display: flex;
  width: calc(250px*21);
  overflow: hidden;
  animation: scroll 20s linear infinite;
}

.slideTrack:hover {
  animation-play-state: paused;
}

.slide {
  perspective: 100px;
}


.slide  :first-child:hover {
  transform: translateZ(10px);
  color: white;
}

.slide :first-child:hover + .title{
  scale: 1;
  transform: translate(50%, 50%);
}

.title {
  font-size: 0.75rem;
  padding: 5px;
  position: absolute;
  top: 65%;
  right: 50%;
  color: #9742ff;
  outline: 1px solid #9742ff;
  transform: translate(50%, 0);
  user-select: none;
  min-width: fit-content;
  text-align: center;
  scale: 0;
}


.slider::before, .slider::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 15%;
  z-index: 100;
}

.slider::before {
  left: 0;
  top: 0;
  background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0.1) 100%);
}

.slider::after {
  right: 0;
  top: 0;
  background: linear-gradient(to left, black 0%, rgba(0, 0, 0, 0.1) 100%);
}

@keyframes scroll {
  0%{
      transform: translateX(0);
  }
  100%{
      transform: translateX(calc(-200px*10));
  }
}

@keyframes hover-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes hover-out {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
